<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Encripto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        
        <form>
        <h2>Criptografar</h2>
            <textarea rows="5" cols="54" name="criptografar"></textarea><br/>
            <input type="submit" name="" value="Criptografar">

        <h2>Descriptografar</h2>
            <textarea rows="5" cols="54" name="criptografar"></textarea><br/>
            <input type="submit" name="" value="Descriptografar">
        </form>
    
    </body>
</html>